body {
  min-height: 100vh;
  margin: 0;
  background-color: rgb(12, 18, 44);
  background-image: url(../images/bg-mobile.svg);
  background-size: 100vw 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 3.73vw;
  color: #dddbff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: black;
  font-size: 11vw;
}

.top-container {
  width: 86vw;
  position: relative;
  text-align: left;
  margin-left: 7%;
  background-color: #1d2c67;
  border-radius: 3vw 22vw 3vw 3vw;
  padding: 9.2vw;
  box-sizing: border-box;
  box-shadow: 0 10px 30px 0 #0f1634;
  bottom: 10vw;
}

.fylo-box {
  display: block;
}

.fylo {
  width: 36vw;
}

.logo {
  margin-top: 9.2vw;
  margin-right: 2.7vw;
  background-color: #0c122c;
  border-radius: 2.7vw;
}

.logo1 {
  padding: 3.2vw 3.73vw;
  width: 5.33vw;
}

.logo2 {
  padding: 3.73vw 3.2vw;
  width: 6.4vw;
}

.logo3 {
  padding: 4.27vw 3.2vw;
  width: 6.4vw;
}

.middle-container {
  width: 86vw;
  height: 44vw;
  position: relative;
  bottom: 5vw;
  text-align: center;
  margin-left: 7vw;
  background-color: #1d2c67;
  border-radius: 3vw;
  padding: 5vw 9.2vw;
  box-sizing: border-box;
  box-shadow: 0 10px 30px 0 #0f1634;
}

p {
  color: #dddbff;
}

.gb-815 {
  font-weight: 700;
}

.skrl-rel {
  width: 100%;
  height: 3.9vw;
  background-color: #141d48;
  border: 0.557vw solid #141d48;
  border-radius: 3vw;
  margin-bottom: 10px;
}

.skrl-grad {
  position: relative;
  width: 81.5%;
  height: 3.9vw;
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 2vw;
}

.white-circle {
  position: absolute;
  right: 0.557vw;
  top: 0.557vw;
  width: 2.785vw;
  height: 2.785vw;
  border-radius: 1.875vw;
  background: white;
}

.left-span {
  position: absolute;
  left: 9.2vw;
  font-weight: 700;
}

.right-span {
  position: absolute;
  right: 9.2vw;
  font-weight: 700;
}

.white-box {
  background-color: white;
  width: 50vw;
  height: 20vw;
  position: absolute;
  bottom: -10vw;
  left: calc(50vw - 7vw - 25vw);
  /* 50vw - middle-container margin-left - 50% white-box width */
  border-radius: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gb-left {
  color: #9e9ea3;
  font-weight: 700;
  margin-left: 8px;
  letter-spacing: 1px;
}

.attribution {
  font-size: 3.1vw;
  text-align: center;
  color: #dddbff;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: #ffa399;
}

.attribution a:hover {
  color: #ff4d97;
}

@media only screen and (min-width: 550px) {
  .attribution {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: 100% 50%;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    color: #dddbff;
    flex-direction: row;
    align-items: center;
  }

  h1 {
    font-size: 3rem;
  }

  .top-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    background-color: rgb(15, 22, 54);
  }

  .top-container {
    max-width: 340px;
    height: 180px;
    position: relative;
    text-align: left;
    margin: 0 10px 0 30px;
    border-radius: 12px 90px 12px 12px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 #0f1634;
    bottom: auto;
    overflow: hidden;
  }

  .fylo {
    width: 140px;
  }

  .logo {
    margin-top: 30px;
    margin-right: 10px;
    background-color: #0c122c;
    border-radius: 10px;
  }
  .logo:hover {
    filter: invert(71%) sepia(15%) saturate(1123%) hue-rotate(316deg)
      brightness(117%) contrast(108%);
    background-color: #0c122c;
  }
  .logo1 {
    padding: 12px 14px;
    width: auto;
  }

  .logo2 {
    padding: 14px 12px;
    width: auto;
  }

  .logo3 {
    padding: 16px 12px;
    width: auto;
  }

  .middle-container {
    max-width: 600px;
    max-height: 160px;
    position: relative;
    top: 10px;
    text-align: left;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #1d2c67;
    border-radius: 12px;
    padding: 25px 40px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px 0 #0f1634;
    bottom: auto;
  }
  .middle-container p {
    margin-top: 10px;
    font-size: 0.9em;
    /*команды отменяющие перенос строки*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    /*команды отменяющие перенос строки*/
  }
  .skrl-rel {
    height: 16px;
    border-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .skrl-grad {
    height: 16px;
    border-radius: 10px;
  }

  .white-circle {
    right: 2px;
    top: 2px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
  }

  .left-span {
    left: 40px;
  }

  .right-span {
    right: 40px;
    /*по размеру padding для middle-container*/
  }

  .white-box {
    width: 200px;
    height: 80px;
    /*не работает почему?*/
    position: absolute;
    top: -55px;
    left: auto;
    right: 40px;
    /*не работает почему?*/
    /* 50vw - middle-container margin-left - 50% white-box width */
    border-radius: 15px 15px 0 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .bubble:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-right: 0;
    margin-bottom: -20px;
  }

  .gb-left {
    margin-left: 8px;
    letter-spacing: 1px;
  }

  .attribution {
    font-size: 3.1vw;
    text-align: center;
    color: #dddbff;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .attribution {
    font-size: 0.8em;
  }
}
